
<h1>Employee Management Page</h1>
<p>This Page will contain the read,update,delete and create features</p>
<div ngIf="!emplist">
  Loading
</div>
<table ngIf="emplist">

  <thead>
    <tr>
      <th>Employee Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>City</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
    <tr ngfor="let emp of emplist">
      <td>{{emp.empid}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.gender}}</td>
      <td>{{emp.city}}</td>
      <td>{{emp.department}}</td>
    </tr>
  </tbody>
</table>
